@font-face {
  font-family: "MyriadCondensedWeb";
  src: url("../resources/fonts/MyriadCondensedWeb.ttf");
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "MyriadCondensedWeb" !important;
}

h1 {
  font-size: 2em;
}

a {
  text-decoration: none;
}

.iframe-template, .mid-page .main .streams .stream-grid iframe, .mid-page .main .videos .video-grid iframe {
  aspect-ratio: 16/9;
  width: 100%;
  padding: 1.25rem;
  margin-top: 1.25rem;
  background-color: rgba(41, 41, 41, 0.7019607843);
  border-radius: 0.3125rem;
}

.card {
  background-color: #282828;
  color: #f0ffff;
  border: 0.125rem outset white;
  margin: 0.9375rem 0.625rem;
  transition: all 0.2s ease 0s;
}
.card:hover {
  transform: scale(1.05);
}

.btn-primary {
  color: #f0ffff;
  font-weight: 600;
  border: 0.0625rem outset white;
  transition: all 0.2s ease 0s;
  background-color: #408da0;
}
.btn-primary:hover {
  border: 0.0625rem outset white !important;
  background-color: #3886fa !important;
  color: #e22b80 !important;
}
.btn-primary:active {
  border: 0.0625rem inset white !important;
  background-color: #3886fa !important;
  color: #e22b80 !important;
}
.btn-primary:focus {
  border: 0.0625rem inset white !important;
  color: #e22b80 !important;
  box-shadow: none !important;
}

/*      HEADER      */
.nav-logo img {
  height: 3.125rem;
  width: 3.125rem;
  transition: all 0.3s ease 0s;
}
.nav-logo img:hover {
  transform: scale(1.1);
}

.navbar-toggler {
  background-color: #408da0;
  border: 1px outset white;
  background-image: url("../resources/images/menu.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.875rem 1.875rem;
  transition: all 0.2s ease 0s;
}
.navbar-toggler:hover {
  border: 0.0625rem outset white !important;
  background-color: #3886fa !important;
  background-image: url("../resources/images/menu-hover.png");
  color: #e22b80 !important;
}
.navbar-toggler:active {
  border: 0.0625rem inset white !important;
}
.navbar-toggler:focus {
  box-shadow: none !important;
}

.navbar {
  border-bottom: 0.0625rem inset white;
  background-color: #489fb5;
}

.nav-tabs .nav-link {
  border-top: 0.0625rem outset white !important;
  border-left: 0.0625rem outset white !important;
  border-right: 0.0625rem outset white !important;
  border-bottom: 0.0625rem solid #dee2e6;
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  font-weight: 600;
  color: #f0ffff;
  transition: all 0.2s ease 0s !important;
  background-color: #408da0 !important;
}
.nav-tabs .nav-link:hover {
  background-color: #3886fa !important;
  border-bottom: none !important;
  color: #e22b80 !important;
}
.nav-tabs .nav-link:active {
  border-top: 0.0625rem inset white !important;
  border-left: 0.0625rem inset white !important;
  border-right: 0.0625rem inset white !important;
}
.nav-tabs .nav-link.active {
  background-color: #489fb5 !important;
  border-top: 0.0625rem inset white !important;
  border-left: 0.0625rem inset white !important;
  border-right: 0.0625rem inset white !important;
  border-bottom: none !important;
  color: #ff7073 !important;
}

/*      MAIN       */
.mid-page {
  display: grid;
  grid-template-columns: 85% 15%;
  grid-template-areas: "main aside";
  gap: 0;
  background-image: url("../resources/images/bg-image.png");
  -o-object-fit: cover;
     object-fit: cover;
}
.mid-page .main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  border-right: 0.0625rem inset white;
}
.mid-page .main h2 {
  color: #f0ffff;
  font-size: 3.5em;
  font-weight: 600;
  text-align: center;
  padding: 1.25rem;
}
.mid-page .main .title {
  display: flex;
  margin: 0 auto;
}
.mid-page .main .title marquee {
  font-weight: 600;
  font-size: 5em;
  color: #f0ffff;
  text-align: center;
  padding: 1.25rem;
  -webkit-animation: colorizar 5s linear 0s infinite;
          animation: colorizar 5s linear 0s infinite;
}

/*      FOOTER        */
.bot-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "logo nav-links social-media";
  background-color: #489fb5;
  margin-top: auto;
  border-top: 1px inset white;
}
.bot-page .logo {
  grid-area: logo;
  display: flex;
  align-items: center;
}
.bot-page .logo img {
  width: 45px;
  height: 45px;
  margin: 10px;
  opacity: 0.7;
  transition: all 0.3s ease 0s;
}
.bot-page .logo img:hover {
  transform: scale(1.1);
  opacity: 1;
}
.bot-page .nav-links {
  grid-area: nav-links;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}
.bot-page .nav-links::before {
  content: "";
  width: 1px;
  height: 90%;
  border: 2px inset white;
  opacity: 0.7;
  margin-right: auto;
}
.bot-page .nav-links::after {
  content: "";
  width: 1px;
  height: 90%;
  border: 2px inset white;
  opacity: 0.7;
  margin-left: auto;
}
.bot-page .nav-links li {
  margin: 5px;
  padding: 10px;
}
.bot-page .nav-links li a {
  color: #f0ffff;
  font-weight: 600;
  transition: all 0.3s ease 0s;
}
.bot-page .nav-links li a:hover {
  color: #ff7073;
}
.bot-page .social-media {
  grid-area: social-media;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  width: 50%;
  margin-left: auto;
}
.bot-page .social-media a {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 2px 10px;
  padding: 2px;
  color: #f0ffff;
  font-weight: 600;
  transition: all 0.3s ease 0s;
}
.bot-page .social-media a:hover {
  transform: scale(1.2);
  color: #ff7073;
}
.bot-page .social-media a img {
  width: 1rem;
  height: 1rem;
  margin: 0 5px;
}

/*      ASIDE     */
.mid-page .aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  justify-content: flex-start;
  align-items: center;
  background-color: #5e7dff;
  min-height: 86vh;
  max-height: 100vh;
  transition: all 0.3s ease 0s;
}
.mid-page .aside .animation {
  display: flex;
  flex-direction: column;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  justify-content: flex-start;
  align-items: center;
  min-height: 86vh;
  max-height: 100vh;
}
.mid-page .aside h2 {
  height: auto;
  font-weight: 600;
  font-size: 5em;
  color: azure;
  text-align: center;
}
.mid-page .aside hr {
  height: 5px;
  width: 90%;
  border: 1px inset white;
  border-radius: 5px;
  background-color: #e22b80;
}
.mid-page .aside .chat {
  display: grid;
  height: auto;
  overflow: auto;
  justify-items: center;
}
.mid-page .aside .chat::-webkit-scrollbar {
  width: 5px;
}
.mid-page .aside .chat::-webkit-scrollbar-thumb {
  background-color: #e22b80;
  border: 1px inset white;
  border-radius: 5px;
}
.mid-page .aside .chat .chat-msg {
  display: flex;
  padding: 15px;
  margin: 5px;
}
.mid-page .aside .chat .chat-msg span {
  font-weight: 600;
  color: #e22b80;
}
.mid-page .aside .chat .chat-msg p {
  margin-left: 5px;
  font-size: 1em;
}
.mid-page .aside .chat-send {
  display: flex;
  height: 15%;
  justify-content: center;
  width: 100%;
  padding: 5px 0;
}
.mid-page .aside .chat-send textarea {
  resize: none;
  height: auto;
  width: 75%;
  background-color: #9068ff;
  text-indent: 5px;
  line-height: 25px;
  font-size: 1em;
  border: 2px inset white;
  border-right: none;
  border-radius: 5px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  transition: all 0.2s ease 0s;
}
.mid-page .aside .chat-send textarea:focus {
  outline: none;
}
.mid-page .aside .chat-send button {
  background-color: #9068ff;
  border: 2px inset white;
  border-left: none;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  padding: 0 5px;
  transition: all 0.2s ease 0s;
}
.mid-page .aside .chat-send button:active {
  background-color: #a281ff;
}

/*      HOME       */
.mid-page .main .description {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.mid-page .main .description p {
  color: #f0ffff;
  font-size: 1.5em;
  padding: 1.25rem;
  margin: 0.9375rem;
  width: 75%;
}
.mid-page .main .description figure {
  display: flex;
  justify-content: center;
}
.mid-page .main .description img {
  width: 80%;
  border: 0.125rem inset white;
  border-radius: 0.3125rem;
}
.mid-page .main .description h3 {
  color: #f0ffff;
  font-size: 2.5em;
  font-weight: 600;
  text-align: center;
  padding: 1.25rem;
}
.mid-page .main .description h4 {
  color: #f0ffff;
  font-size: 2em;
  font-weight: 600;
  text-align: center;
  padding: 1.25rem;
  margin-top: 6.25rem;
}
.mid-page .main .description hr {
  width: 85%;
  height: 0.1875rem;
}
.mid-page .main .main-link {
  width: 35%;
  margin: 1.5625rem 0;
  padding: 6.25rem;
  font-size: 5em;
  color: #282828;
  text-align: center;
  border-radius: 0.3125rem;
  font-weight: 600;
  border: 0.125rem inset white;
  transition: all 0.2s ease 0s;
}
.mid-page .main .yt {
  background-color: #ff0000;
}
.mid-page .main .yt:hover {
  transform: scale(1.05);
}
.mid-page .main .yt:active {
  transform: scale(0.98);
}
.mid-page .main .tw {
  background-color: #6441a5;
}
.mid-page .main .tw:hover {
  transform: scale(1.05);
}
.mid-page .main .tw:active {
  transform: scale(0.98);
}
.mid-page .main .ml {
  background-color: #fff159;
}
.mid-page .main .ml:hover {
  transform: scale(1.05);
}
.mid-page .main .ml:active {
  transform: scale(0.98);
}
.mid-page .main .py {
  background-color: #ff1a56;
}
.mid-page .main .py:hover {
  transform: scale(1.05);
}
.mid-page .main .py:active {
  transform: scale(0.98);
}

/*      VIDEOS      */
.mid-page .main .videos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mid-page .main .videos .video-grid {
  display: grid;
  gap: 1rem;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  margin-bottom: 1.5625rem;
  width: 95%;
}
/*      STREAMS     */
.mid-page .main .streams {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mid-page .main .streams p {
  color: #f0ffff;
  font-weight: 600;
}
.mid-page .main .streams .stream-grid {
  display: grid;
  gap: 1rem;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  margin-bottom: 1.5625rem;
  width: 95%;
}
/*      DELIVERY        */
.mid-page .main .delivery {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mid-page .main .delivery .delivery-grid {
  display: grid;
  gap: 1rem;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  margin-bottom: 1.5625rem;
  width: 95%;
}

/*      SHOP       */
.mid-page .main .shop {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mid-page .main .shop .shop-grid {
  display: grid;
  gap: 1rem;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  margin-bottom: 1.5625rem;
  width: 95%;
}

/*      SING IN     */
.sign-up-main {
  background-image: url("../resources/images/bg-image.png");
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 80vh;
}
.sign-up-main .form {
  width: 80%;
  margin: auto;
}
.sign-up-main .form .form-label {
  color: #f0ffff;
}
.sign-up-main .form .form-select,
.sign-up-main .form .form-control {
  background-color: #282828;
  color: #f0ffff;
  border: 0.125rem outset white;
  background-image: url("../resources/images/down-arrow.svg");
}
.sign-up-main .form .form-select:focus,
.sign-up-main .form .form-control:focus {
  color: #f0ffff;
  border: 0.125rem inset #a14445;
  background-color: #282828;
  border-color: #a14445;
  box-shadow: none;
  outline: none;
}
.sign-up-main .form .form-select::-moz-placeholder, .sign-up-main .form .form-control::-moz-placeholder {
  color: #a14445;
}
.sign-up-main .form .form-select:-ms-input-placeholder, .sign-up-main .form .form-control:-ms-input-placeholder {
  color: #a14445;
}
.sign-up-main .form .form-select::placeholder,
.sign-up-main .form .form-control::placeholder {
  color: #a14445;
}
.sign-up-main .form .form-check-label {
  color: #f0ffff;
}
.sign-up-main .form .form-check-input {
  border: 0.125rem outset white;
}
.sign-up-main .form .form-check-input:checked {
  background-color: #a14445;
  border: 0.125rem inset #a14445 !important;
}
.sign-up-main .form .form-check-input:focus {
  border-color: white;
  outline: none;
  box-shadow: none;
}
.sign-up-main .jesus-bailando {
  width: 100%;
  text-align: center;
}

/*      RESPONSIVE      */
@media screen and (max-width: 1300px) {
  /*      MAIN        */
  .mid-page .main-link {
    width: 50%;
  }
  .mid-page .aside .chat .chat-msg {
    flex-direction: column;
    padding: 5px;
  }

  /*      FOOTER      */
  .bot-page .social-media {
    width: 100%;
  }
  .bot-page .social-media a:hover {
    transform: none;
  }
}
@media screen and (max-width: 1100px) {
  /*      MAIN       */
  .mid-page {
    display: flex;
    flex-direction: column;
  }
  .mid-page .main {
    border-right: none;
  }
  .mid-page .main h2 {
    font-size: 2.5em;
  }
  .mid-page .main .description p {
    width: 90%;
  }
  .mid-page .main .description img {
    width: 90%;
  }
  .mid-page .main .main-link {
    width: 75%;
  }
  .mid-page .main .yt,
.mid-page .main .tw,
.mid-page .main .ml,
.mid-page .main .py {
    padding: 9.375rem 6.25rem;
  }
  .mid-page .main .videos .video-grid iframe {
    padding: 0.625rem;
  }
  .mid-page .aside {
    display: none;
  }
}
@media screen and (max-width: 770px) {
  /*      MAIN       */
  .mid-page .main .title marquee {
    font-size: 4em;
    padding: 20px 0;
  }

  /*      FOOTER      */
  .bot-page .social-media a {
    margin: 2px 1px;
  }
}
@media screen and (max-width: 600px) {
  /*      MAIN       */
  .mid-page .main .description p {
    font-size: 1.3em;
    margin: 10px;
  }
  .mid-page .main .description img {
    width: 100%;
  }
  .mid-page .main .main-link {
    width: 100%;
  }
  .mid-page .main .yt:hover,
.mid-page .main .tw:hover,
.mid-page .main .ml:hover,
.mid-page .main .py:hover {
    transform: none;
  }

  /*      FOOTER      */
  .bot-page {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "nav-links social-media";
  }
  .bot-page .logo {
    display: none;
  }
  .bot-page .nav-links::before {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  /*      MAIN       */
  .mid-page .main h2 {
    padding: 0.625rem;
  }
  .mid-page .main .description p {
    width: 100%;
  }
  .mid-page .main .description hr {
    width: 95%;
  }
  .mid-page .main .description h4 {
    margin-top: 3.125rem;
  }
  .mid-page .main .yt,
.mid-page .main .tw,
.mid-page .main .ml,
.mid-page .main .py {
    padding: 4.6875rem 3.125rem;
    font-size: 4rem;
  }

  /*      FOOTER      */
  .bot-page {
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "nav-links" "social-media";
  }
  .bot-page .nav-links::after {
    display: none;
  }
  .bot-page .nav-links li {
    padding: 0.3125rem;
  }
}
@media screen and (max-width: 320px) {
  /*      HEADER      */
  .top-page {
    display: flex;
    flex-direction: column;
  }
  .top-page nav {
    width: 100%;
  }
  .top-page nav .nav-links {
    width: 100%;
    flex-direction: column;
  }
  .top-page nav li {
    text-align: center;
    margin: 0.3125rem;
    border: 0.125rem outset white;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  /*      MAIN       */
  .mid-page .main .yt,
.mid-page .main .tw,
.mid-page .main .ml,
.mid-page .main .py {
    padding: 3.125rem;
  }
  .mid-page .main .description h3 {
    font-size: 2em;
  }
  .mid-page .main .description h4 {
    font-size: 1.5em;
  }
}
@-webkit-keyframes colorizar {
  0% {
    color: #0067FB;
  }
  33% {
    color: #10D100;
  }
  66% {
    color: #FF003D;
  }
  100% {
    color: #0067FB;
  }
}
@keyframes colorizar {
  0% {
    color: #0067FB;
  }
  33% {
    color: #10D100;
  }
  66% {
    color: #FF003D;
  }
  100% {
    color: #0067FB;
  }
}/*# sourceMappingURL=style.css.map */