/*      DELIVERY        */
.mid-page {
    .main {
        .delivery {
            display: flex;
            flex-direction: column;
            align-items: center;

            .delivery-grid {
                @include grid(15rem);
            }
        }
    }
}