/*      HOME       */
.mid-page {
    .main {
        .description {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;

            p {
                color: $white;
                font-size: 1.5em;
                padding: 1.25rem;
                margin: 0.9375rem;
                width: 75%;
            }

            figure {
                display: flex;
                justify-content: center;
            }

            img {
                width: 80%;
                border: 0.125rem inset white;
                border-radius: 0.3125rem;
            }

            h3 {
                color: $white;
                font-size: 2.5em;
                font-weight: 600;
                text-align: center;
                padding: 1.25rem;
            }

            h4 {
                color: $white;
                font-size: 2em;
                font-weight: 600;
                text-align: center;
                padding: 1.25rem;
                margin-top: 6.25rem;
            }

            hr {
                width: 85%;
                height: 0.1875rem;
            }
        }

        .main-link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 45%;
            height: calc(45vw * 0.5);
            margin: 1.5625rem 0;
            padding: 6.25rem;
            border-radius: 0.3125rem;
            border: 0.125rem inset white;
            transition: all 0.2s ease 0s;

            .main-icon {
                filter: invert(7%) sepia(9%) saturate(46%) hue-rotate(314deg) brightness(105%) contrast(81%);
                border: none;
                width: 50%;
            }
        }

        @each $svc,
        $color in $svc-c {
            .#{$svc} {
                background-color: $color;

                &:hover {
                    transform: scale(1.05);
                }

                &:active {
                    transform: scale(0.98);
                }
            }
        }
    }
}