/*      SHOP       */
.mid-page {
    .main {
        .shop {
            display: flex;
            flex-direction: column;
            align-items: center;

            .shop-grid {
                @extend .grid-template;
                grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
            }
        }
    }
}