@font-face {
    font-family: 'MyriadCondensedWeb';
    src: url("../resources/fonts/MyriadCondensedWeb.ttf");
}
$font-type: 'MyriadCondensedWeb';
$white: #f0ffff;
$black: #282828;
$iframe-bg: #292929b3;
$dark-red: #a14445;
$red-1: #e22b80;
$red: #ff7073;
$green-blue: #408da0;
$nav-bg:#489fb5;
$blue: #3886fa;
$light-blue: #5e7dff;
$violet: #9068ff;
$light-violet: #a281ff;
$svc-c: (
    yt: #ff0000,
    tw: #6441a5,
    ml: #fff159,
    py: #ff1a56
);