/*      VIDEOS      */
.mid-page {
    .main {
        .videos {
            display: flex;
            flex-direction: column;
            align-items: center;

            .video-grid {
                @include grid(20rem);

                iframe {
                    @extend .iframe-template;
                }
            }
        }
    }
}