/*      SHOP       */
.mid-page {
    .main {
        .shop {
            display: flex;
            flex-direction: column;
            align-items: center;

            .shop-grid {
                @include grid(15rem);
            }
        }
    }
}